<div class="container">
    <div class="row">
        <br><br><br><br><br><br><br><br><br><br>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading center"><strong>登录</strong></div>
                <div class="panel-body">
                    <div id="failedBox" style="margin-bottom: 8px; padding: 10px" class="hide"></div>
                    <form action="/author/save" method="post">
                        <div class="form-group">
                            <label>用户名</label>
                            <input type="text" name="username" class="form-control" placeholder="please input username">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" name="password" class="form-control" placeholder="please input password">
                        </div>
                        <div class="form-group center">
                            <button type="button" onclick="Form.ajaxSubmit(this.form,false)" class="btn btn-success btn-block">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
