<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <h2>欢迎使用 fastgo !</h2>
                    <hr>
                    <h3>fastgo 是基于
                        <a target="_blank" href="https://github.com/valyala/fasthttp">fasthttp</a>,
                        <a target="_blank" href="https://github.com/buaazp/fasthttprouter">fasthttprouter</a>,
                        <a target="_blank" href="https://github.com/phachon/fasthttpsession">fasthttpsession</a>
                        搭建的快速的 Go Web 开发框架! </h3>
                    <h4>这是一个利用 fastgo 搭建的一个完整的示例，下载地址: <a href="https://github.com/phachon/fastgo/tree/master/_example/mvc"> https://github.com/phachon/fastgo/tree/master/_example/mvc </a> </h4>
                    <hr>
                    <div style="font-size: 18px;">
                        <ul>
                            <li style="font-size: 18px;"><a target="_blank" href="https://github.com/phachon/fastgo">fastgo</a></li>
                            <li style="font-size: 18px;"><a target="_blank" href="https://github.com/phachon/fasthttpsession">fasthttpsession</a></li>
                            <li style="font-size: 18px;"><a target="_blank" href="https://github.com/phachon/go-logger">go-logger</a></li>
                        </ul>
                    </div>
                    <br>
                    <h4> 欢迎 Star !</h4>
                </div>
            </div>
        </div>
    </div>
</div>