<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>Card</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/content-style.css"/>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/jquery/jquery.form.js"></script>
    <script src="/static/js/common/common.js"></script>
    <script src="/static/js/common/form.js"></script>
</head>
<body style="padding-top: 63px">
<!--导航-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">FastGo Example</a>
        </div>
        <!--小屏幕导航按钮和logo-->
    </div>
</nav>
<!--导航-->
<div class="container">
    <div class="row">
        <!-- 处理参数 -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Welcome</strong></div>
                <div class="panel-body">
                    欢迎您：
                    <br><br>
                    <a type="button" href="/author/logout?t=1" class="btn btn-danger ">退出</a></div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>